html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Container div */
.AppContent {
  display: flex;
  flex-direction: column;
}

/*  Nav Bar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 0.1rem solid #020092;
  height: 3em;
  min-height: 3em;
}

nav > a:hover {
  cursor: pointer;
}

/*  Home Page */
.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home > h1,
.Home > p {
  color: #010057;
}

.Home > p {
  margin-top: 20em;
}

/* StickyBar */

.StickyBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 0.1rem solid #020092;
  color: #010057;
  height: 2.5em;
  min-height: 2.5em;
}

.StickyBar > p {
  margin: 0 1vw 0 0;
}

.StickyBar > a {
  margin-left: 1vw;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Shop Page */

.Shop {
  margin-bottom: 2.5em;
}

.expand {
  margin-top: 2.5em;
}

.Shop > h2,
.Shop > h3 {
  display: flex;
  justify-content: center;
  color: #010057;
}

.ShopList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2vh;
}

.ShopItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 3vw 0 3vw;
}

label {
  color: #010057;
}

.ShopItem > p {
  margin-left: 1em;
  color: #010057;
}

.ShopItem > button,
.ShopItem > input,
.ShopItem > label {
  margin-left: 1em;
}

#LoadingShop {
  display: flex;
  justify-content: center;
  color: #010057;
}

/* Item Details Page */

.ItemDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #010057;
}

.ItemDetail > h1,
.ItemDetail > h2 {
  display: flex;
  justify-content: center;
}

.CurrencyRates {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.RateDate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BuyItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #010057;
}
.BuyItem > h3 {
  margin: 1em 0 0.5em 0;
}
.BuyItem > p {
  margin-top: 0;
}

.BuyItem > form > input,
.BuyItem > form > button {
  margin-left: 1em;
}

#LoadingItem {
  display: flex;
  justify-content: center;
  color: #010057;
}

/* Checkout Page */
.Checkout {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  color: #010057;
}

.Checkout > h2 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  justify-self: center;
}

.Basket,
.EmptyBasket {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: center;
}

.Summary {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 5em;
  display: grid;
  justify-content: center;
}

.Summary > button {
  height: 2em;
}

/* Footer */
.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-top: 0.1rem solid #020092;
  position: absolute;
  width: 100%;
  height: 2.5em;
  bottom: 0;
  overflow: hidden;
}

.Footer > p {
  color: #010057;
}

/* Mobile css styling dimensions */

/* APPLE */
/* iPhone 6/7/8 */
@media only screen and (max-width: 375px) and (max-height: 667px) {
  /* Mobile Home Page */
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Home > h1,
  .Home > p {
    color: #010057;
  }

  .Home > p {
    margin-top: 50%;
  }

  /* Mobile Shop Page */

  .Shop {
    margin-bottom: 2.5em;
  }

  .expand {
    margin-top: 2.5em;
  }

  .Shop > h3 {
    margin-bottom: 0;
  }

  .ShopList {
    margin-bottom: 2vh;
    font-size: 1em;
  }

  .ShopItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }

  .ShopItem > p {
    margin: 0 0 0 0;
    color: #010057;
  }

  .ShopItem > button,
  .ShopItem > input {
    margin-top: 0.5em;
    margin-left: 0;
  }

  #LoadingShop {
    color: #010057;
  }

  /* Mobile ItemDetail Page */

  .ItemDetail {
    margin-bottom: 2.5em;
  }

  .ItemDetail > h1 {
    margin-bottom: 0;
  }

  .CurrencyRates {
    display: flex;
    flex-direction: column;
  }

  .RateDate {
    margin: 0.5em 0 0.5em 0;
  }

  .RateDate > p {
    margin: 0 0 0 0;
  }

  .BuyItem > p {
    margin-bottom: 0.5em;
  }

  .BuyItem > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BuyItem > form > input {
    margin: 1em 0 0 0;
  }

  .BuyItem > form > button {
    margin: 1em 0 1em 0;
  }

  /* Mobile Checkout Page */

  .BasketItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BasketItem > p {
    margin: 0.5em 0 0 0;
  }

  .BasketItem > button {
    margin: 0.5em 0 1em 0;
  }

  .EmptyBasket > p {
    margin-top: 0.5em;
  }

  .Summary > p {
    margin: 0.5em 0 0 0;
  }
}
/* iPhone 6/7/8 + models for each */
@media only screen and (max-width: 414px) and (max-height: 736px) {
  /* Mobile Home Page */
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Home > h1,
  .Home > p {
    color: #010057;
  }

  .Home > p {
    margin-top: 50%;
  }

  /* Mobile Shop Page */

  .Shop {
    margin-bottom: 2.5em;
  }

  .expand {
    margin-top: 2.5em;
  }

  .Shop > h3 {
    margin-bottom: 0;
  }

  .ShopList {
    margin-bottom: 2vh;
    font-size: 1em;
  }

  .ShopItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }

  .ShopItem > p {
    margin: 0 0 0 0;
    color: #010057;
  }

  .ShopItem > button,
  .ShopItem > input {
    margin-top: 0.5em;
  }

  #LoadingShop {
    color: #010057;
  }

  /* Mobile ItemDetail Page */

  .ItemDetail {
    margin-bottom: 2.5em;
  }

  .ItemDetail > h1 {
    margin-bottom: 0;
  }

  .CurrencyRates {
    display: flex;
    flex-direction: column;
  }

  .RateDate {
    margin: 0.5em 0 0.5em 0;
  }

  .RateDate > p {
    margin: 0 0 0 0;
  }

  .BuyItem > p {
    margin-bottom: 0.5em;
  }

  .BuyItem > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BuyItem > form > input {
    margin: 1em 0 0 0;
  }

  .BuyItem > form > button {
    margin: 1em 0 1em 0;
  }

  /* Mobile Checkout Page */

  .BasketItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BasketItem > p {
    margin: 0.5em 0 0 0;
  }

  .BasketItem > button {
    margin: 0.5em 0 1em 0;
  }

  .EmptyBasket > p {
    margin-top: 0.5em;
  }

  .Summary > p {
    margin: 0.5em 0 0 0;
  }
}
/* iPhone X/XS */
@media only screen and (max-width: 375px) and (max-height: 812px) {
  /* Mobile Home Page */
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Home > h1,
  .Home > p {
    color: #010057;
  }

  .Home > p {
    margin-top: 50%;
  }

  /* Mobile Shop Page */

  .Shop {
    margin-bottom: 2.5em;
  }

  .expand {
    margin-top: 2.5em;
  }

  .Shop > h3 {
    margin-bottom: 0;
  }

  .ShopList {
    margin-bottom: 2vh;
    font-size: 1em;
  }

  .ShopItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }

  .ShopItem > p {
    margin: 0 0 0 0;
    color: #010057;
  }

  .ShopItem > button,
  .ShopItem > input {
    margin-top: 0.5em;
    margin-left: 0;
  }

  #LoadingShop {
    color: #010057;
  }

  /* Mobile ItemDetail Page */

  .ItemDetail {
    margin-bottom: 2.5em;
  }

  .ItemDetail > h1 {
    margin-bottom: 0;
  }

  .CurrencyRates {
    display: flex;
    flex-direction: column;
  }

  .RateDate {
    margin: 0.5em 0 0.5em 0;
  }

  .RateDate > p {
    margin: 0 0 0 0;
  }

  .BuyItem > p {
    margin-bottom: 0.5em;
  }

  .BuyItem > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BuyItem > form > input {
    margin: 1em 0 0 0;
  }

  .BuyItem > form > button {
    margin: 1em 0 1em 0;
  }

  /* Mobile Checkout Page */

  .BasketItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BasketItem > p {
    margin: 0.5em 0 0 0;
  }

  .BasketItem > button {
    margin: 0.5em 0 1em 0;
  }

  .EmptyBasket > p {
    margin-top: 0.5em;
  }

  .Summary > p {
    margin: 0.5em 0 0 0;
  }
}
/* iPhone 11 6.1 and iPhone XR */
@media only screen and (width: 828px) and (height: 1792px) {
  #root {
    font-size: 3em;
  }

  nav {
    border-bottom: 0.2rem solid #020092;
  }

  /* Mobile Home Page */
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Home > h1,
  .Home > p {
    color: #010057;
  }

  .Home > p {
    margin-top: 50%;
  }

  /* Mobile Shop Page */

  .Shop {
    margin-bottom: 2.5em;
  }

  .expand {
    margin-top: 2.5em;
  }

  .Shop > h3 {
    margin-bottom: 0;
  }

  .ShopList {
    margin-bottom: 2vh;
    font-size: 1em;
  }

  .ShopItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }

  .ShopItem > p {
    margin: 0 0 0 0;
    color: #010057;
  }

  .ShopItem > button,
  .ShopItem > input {
    margin-top: 0.5em;
    margin-left: 0;
    font-size: 0.75em;
  }

  #LoadingShop {
    color: #010057;
  }

  /* Mobile ItemDetail Page */

  .ItemDetail {
    margin-bottom: 2.5em;
  }

  .ItemDetail > h1 {
    margin-bottom: 0;
  }

  .ItemDetail > h2 {
    text-align: center;
  }

  .CurrencyRates {
    display: flex;
    flex-direction: column;
  }

  .RateDate {
    margin: 0.5em 0 0.5em 0;
  }

  .RateDate > p {
    margin: 0 0 0 0;
  }

  .BuyItem > p {
    margin-bottom: 0.5em;
    text-align: center;
  }

  .BuyItem > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BuyItem > form > input {
    margin: 1em 0 0 0;
    font-size: 0.75em;
  }

  .BuyItem > form > button {
    margin: 1em 0 1em 0;
    font-size: 0.75em;
  }

  /* Mobile Checkout Page */

  .BasketItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BasketItem > p {
    margin: 0.5em 0 0 0;
  }

  .BasketItem > button {
    margin: 0.5em 0 1em 0;
    font-size: 0.75em;
  }

  .EmptyBasket > p {
    margin-top: 0.5em;
  }

  .Summary > p {
    margin: 0.5em 0 0 0;
  }

  .Summary > button {
    font-size: 0.5em;
  }

  .Footer {
    border-top: 0.2rem solid #020092;
    text-align: center;
  }

  .Footer > p {
    font-size: 0.75em;
  }
}
/* iPhone 12 mini 5.4 */
@media only screen and (width: 1080px) and (height: 2340px) {
  #root {
    font-size: 3em;
  }

  nav {
    border-bottom: 0.2rem solid #020092;
  }

  /* Mobile Home Page */
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Home > h1,
  .Home > p {
    color: #010057;
  }

  .Home > p {
    margin-top: 50%;
  }

  /* Mobile Shop Page */

  .Shop {
    margin-bottom: 2.5em;
  }

  .expand {
    margin-top: 2.5em;
  }

  .Shop > h3 {
    margin-bottom: 0;
  }

  .ShopList {
    margin-bottom: 2vh;
    font-size: 1em;
  }

  .ShopItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }

  .ShopItem > p {
    margin: 0 0 0 0;
    color: #010057;
  }

  .ShopItem > button,
  .ShopItem > input {
    margin-top: 0.5em;
    margin-left: 0;
    font-size: 1em;
  }

  #LoadingShop {
    color: #010057;
  }

  /* Mobile ItemDetail Page */

  .ItemDetail {
    margin-bottom: 2.5em;
  }

  .ItemDetail > h1 {
    margin-bottom: 0;
  }

  .ItemDetail > h2 {
    text-align: center;
  }

  .CurrencyRates {
    display: flex;
    flex-direction: column;
  }

  .RateDate {
    margin: 0.5em 0 0.5em 0;
  }

  .RateDate > p {
    margin: 0 0 0 0;
  }

  .BuyItem > p {
    margin-bottom: 0.5em;
    text-align: center;
  }

  .BuyItem > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BuyItem > form > input {
    margin: 1em 0 0 0;
    font-size: 1em;
  }

  .BuyItem > form > button {
    margin: 1em 0 1em 0;
    font-size: 1em;
  }

  /* Mobile Checkout Page */

  .BasketItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BasketItem > p {
    margin: 0.5em 0 0 0;
  }

  .BasketItem > button {
    margin: 0.5em 0 1em 0;
    font-size: 0.75em;
  }

  .EmptyBasket > p {
    margin-top: 0.5em;
  }

  .Summary > p {
    margin: 0.5em 0 0 0;
  }

  .Summary > button {
    font-size: 0.5em;
  }

  .Footer {
    border-top: 0.2rem solid #020092;
    text-align: center;
  }

  .Footer > p {
    font-size: 0.75em;
  }
}
/* iPhone 12 and 12 Pro 6.1 */
@media only screen and (width: 1170px) and (height: 2532px) {
  #root {
    font-size: 4em;
  }

  nav {
    border-bottom: 0.2rem solid #020092;
  }

  /* Mobile Home Page */
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Home > h1,
  .Home > p {
    color: #010057;
  }

  .Home > p {
    margin-top: 50%;
  }

  /* Mobile Shop Page */

  .Shop {
    margin-bottom: 2.5em;
  }

  .expand {
    margin-top: 2.5em;
  }

  .Shop > h3 {
    margin-bottom: 0;
  }

  .ShopList {
    margin-bottom: 2vh;
    font-size: 1em;
  }

  .ShopItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }

  .ShopItem > p {
    margin: 0 0 0 0;
    color: #010057;
  }

  .ShopItem > button,
  .ShopItem > input {
    margin-top: 0.5em;
    margin-left: 0;
    font-size: 1em;
  }

  #LoadingShop {
    color: #010057;
  }

  /* Mobile ItemDetail Page */

  .ItemDetail {
    margin-bottom: 2.5em;
  }

  .ItemDetail > h1 {
    margin-bottom: 0;
  }

  .ItemDetail > h2 {
    text-align: center;
  }

  .CurrencyRates {
    display: flex;
    flex-direction: column;
  }

  .RateDate {
    margin: 0.5em 0 0.5em 0;
  }

  .RateDate > p {
    margin: 0 0 0 0;
  }

  .BuyItem > p {
    margin-bottom: 0.5em;
    text-align: center;
  }

  .BuyItem > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BuyItem > form > input {
    margin: 1em 0 0 0;
    font-size: 1em;
  }

  .BuyItem > form > button {
    margin: 1em 0 1em 0;
    font-size: 1em;
  }

  /* Mobile Checkout Page */

  .BasketItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BasketItem > p {
    margin: 0.5em 0 0 0;
  }

  .BasketItem > button {
    margin: 0.5em 0 1em 0;
    font-size: 0.75em;
  }

  .EmptyBasket > p {
    margin-top: 0.5em;
  }

  .Summary > p {
    margin: 0.5em 0 0 0;
  }

  .Summary > button {
    font-size: 0.5em;
  }

  .Footer {
    border-top: 0.2rem solid #020092;
    text-align: center;
  }

  .Footer > p {
    font-size: 0.75em;
  }
}
/* iPhone 12 Pro 6.7 */
@media only screen and (width: 1284px) and (height: 2778px) {
  #root {
    font-size: 4em;
  }

  nav {
    border-bottom: 0.2rem solid #020092;
  }

  /* Mobile Home Page */
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Home > h1,
  .Home > p {
    color: #010057;
  }

  .Home > p {
    margin-top: 50%;
  }

  /* Mobile Shop Page */

  .Shop {
    margin-bottom: 2.5em;
  }

  .expand {
    margin-top: 2.5em;
  }

  .Shop > h3 {
    margin-bottom: 0;
  }

  .ShopList {
    margin-bottom: 2vh;
    font-size: 1em;
  }

  .ShopItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }

  .ShopItem > p {
    margin: 0 0 0 0;
    color: #010057;
  }

  .ShopItem > button,
  .ShopItem > input {
    margin-top: 0.5em;
    margin-left: 0;
    font-size: 1em;
  }

  #LoadingShop {
    color: #010057;
  }

  /* Mobile ItemDetail Page */

  .ItemDetail {
    margin-bottom: 2.5em;
  }

  .ItemDetail > h1 {
    margin-bottom: 0;
  }

  .ItemDetail > h2 {
    text-align: center;
  }

  .CurrencyRates {
    display: flex;
    flex-direction: column;
  }

  .RateDate {
    margin: 0.5em 0 0.5em 0;
  }

  .RateDate > p {
    margin: 0 0 0 0;
  }

  .BuyItem > p {
    margin-bottom: 0.5em;
    text-align: center;
  }

  .BuyItem > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BuyItem > form > input {
    margin: 1em 0 0 0;
    font-size: 1em;
  }

  .BuyItem > form > button {
    margin: 1em 0 1em 0;
    font-size: 1em;
  }

  /* Mobile Checkout Page */

  .BasketItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BasketItem > p {
    margin: 0.5em 0 0 0;
  }

  .BasketItem > button {
    margin: 0.5em 0 1em 0;
    font-size: 0.75em;
  }

  .EmptyBasket > p {
    margin-top: 0.5em;
  }

  .Summary > p {
    margin: 0.5em 0 0 0;
  }

  .Summary > button {
    font-size: 0.5em;
  }

  .Footer {
    border-top: 0.2rem solid #020092;
    text-align: center;
  }

  .Footer > p {
    font-size: 0.75em;
  }
}

/* SAMSUNG */
/* samsung a20e */
@media only screen and (width: 720px) and (height: 1560px) {
  #root {
    font-size: 3em;
  }

  nav {
    border-bottom: 0.2rem solid #020092;
  }

  /* Mobile Home Page */
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Home > h1,
  .Home > p {
    color: #010057;
  }

  .Home > p {
    margin-top: 50%;
  }

  /* Mobile Shop Page */

  .Shop {
    margin-bottom: 2.5em;
  }

  .expand {
    margin-top: 2.5em;
  }

  .Shop > h3 {
    margin-bottom: 0;
  }

  .ShopList {
    margin-bottom: 2vh;
    font-size: 1em;
  }

  .ShopItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }

  .ShopItem > p {
    margin: 0 0 0 0;
    color: #010057;
  }

  .ShopItem > button,
  .ShopItem > input {
    margin-top: 0.5em;
    margin-left: 0;
    font-size: 0.75em;
  }

  #LoadingShop {
    color: #010057;
  }

  /* Mobile ItemDetail Page */

  .ItemDetail {
    margin-bottom: 2.5em;
  }

  .ItemDetail > h1 {
    margin-bottom: 0;
  }

  .ItemDetail > h2 {
    text-align: center;
  }

  .CurrencyRates {
    display: flex;
    flex-direction: column;
  }

  .RateDate {
    margin: 0.5em 0 0.5em 0;
  }

  .RateDate > p {
    margin: 0 0 0 0;
  }

  .BuyItem > p {
    margin-bottom: 0.5em;
    text-align: center;
  }

  .BuyItem > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BuyItem > form > input {
    margin: 1em 0 0 0;
    font-size: 0.75em;
  }

  .BuyItem > form > button {
    margin: 1em 0 1em 0;
    font-size: 0.75em;
  }

  /* Mobile Checkout Page */

  .BasketItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BasketItem > p {
    margin: 0.5em 0 0 0;
  }

  .BasketItem > button {
    margin: 0.5em 0 1em 0;
    font-size: 0.75em;
  }

  .EmptyBasket > p {
    margin-top: 0.5em;
  }

  .Summary > p {
    margin: 0.5em 0 0 0;
  }

  .Summary > button {
    font-size: 0.5em;
  }

  .Footer {
    border-top: 0.2rem solid #020092;
    text-align: center;
  }

  .Footer > p {
    font-size: 0.75em;
  }
}
/* samsung a21s */
@media only screen and (width: 720px) and (height: 1600px) {
  #root {
    font-size: 3em;
  }

  nav {
    border-bottom: 0.2rem solid #020092;
  }

  /* Mobile Home Page */
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Home > h1,
  .Home > p {
    color: #010057;
  }

  .Home > p {
    margin-top: 50%;
  }

  /* Mobile Shop Page */

  .Shop {
    margin-bottom: 2.5em;
  }

  .expand {
    margin-top: 2.5em;
  }

  .Shop > h3 {
    margin-bottom: 0;
  }

  .ShopList {
    margin-bottom: 2vh;
    font-size: 1em;
  }

  .ShopItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }

  .ShopItem > p {
    margin: 0 0 0 0;
    color: #010057;
  }

  .ShopItem > button,
  .ShopItem > input {
    margin-top: 0.5em;
    margin-left: 0;
    font-size: 0.75em;
  }

  #LoadingShop {
    color: #010057;
  }

  /* Mobile ItemDetail Page */

  .ItemDetail {
    margin-bottom: 2.5em;
  }

  .ItemDetail > h1 {
    margin-bottom: 0;
  }

  .ItemDetail > h2 {
    text-align: center;
  }

  .CurrencyRates {
    display: flex;
    flex-direction: column;
  }

  .RateDate {
    margin: 0.5em 0 0.5em 0;
  }

  .RateDate > p {
    margin: 0 0 0 0;
  }

  .BuyItem > p {
    margin-bottom: 0.5em;
    text-align: center;
  }

  .BuyItem > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BuyItem > form > input {
    margin: 1em 0 0 0;
    font-size: 0.75em;
  }

  .BuyItem > form > button {
    margin: 1em 0 1em 0;
    font-size: 0.75em;
  }

  /* Mobile Checkout Page */

  .BasketItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BasketItem > p {
    margin: 0.5em 0 0 0;
  }

  .BasketItem > button {
    margin: 0.5em 0 1em 0;
    font-size: 0.75em;
  }

  .EmptyBasket > p {
    margin-top: 0.5em;
  }

  .Summary > p {
    margin: 0.5em 0 0 0;
  }

  .Summary > button {
    font-size: 0.5em;
  }

  .Footer {
    border-top: 0.2rem solid #020092;
    text-align: center;
  }

  .Footer > p {
    font-size: 0.75em;
  }
}
/* samsung s9/s9+ */
@media only screen and (max-width: 360px) and (max-height: 740px) {
  /* Mobile Home Page */
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Home > h1,
  .Home > p {
    color: #010057;
  }

  .Home > p {
    margin-top: 50%;
  }

  /* Mobile Shop Page */

  .Shop {
    margin-bottom: 2.5em;
  }

  .expand {
    margin-top: 2.5em;
  }

  .Shop > h3 {
    margin-bottom: 0;
  }

  .ShopList {
    margin-bottom: 2vh;
    font-size: 1em;
  }

  .ShopItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }

  .ShopItem > p {
    margin: 0 0 0 0;
    color: #010057;
  }

  .ShopItem > button,
  .ShopItem > input {
    margin-top: 0.5em;
    margin-left: 0;
  }

  #LoadingShop {
    color: #010057;
  }

  /* Mobile ItemDetail Page */

  .ItemDetail {
    margin-bottom: 2.5em;
  }

  .ItemDetail > h1 {
    margin-bottom: 0;
  }

  .CurrencyRates {
    display: flex;
    flex-direction: column;
  }

  .RateDate {
    margin: 0.5em 0 0.5em 0;
  }

  .RateDate > p {
    margin: 0 0 0 0;
  }

  .BuyItem > p {
    margin-bottom: 0.5em;
  }

  .BuyItem > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BuyItem > form > input {
    margin: 1em 0 0 0;
  }

  .BuyItem > form > button {
    margin: 1em 0 1em 0;
  }

  /* Mobile Checkout Page */

  .BasketItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BasketItem > p {
    margin: 0.5em 0 0 0;
  }

  .BasketItem > button {
    margin: 0.5em 0 1em 0;
  }

  .EmptyBasket > p {
    margin-top: 0.5em;
  }

  .Summary > p {
    margin: 0.5em 0 0 0;
  }
}
/* samsung s20 */
@media only screen and (width: 1400px) and (height: 3200px) {
  #root {
    font-size: 4em;
  }

  nav {
    border-bottom: 0.2rem solid #020092;
  }

  /* Mobile Home Page */
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Home > h1,
  .Home > p {
    color: #010057;
  }

  .Home > p {
    margin-top: 50%;
  }

  /* Mobile Shop Page */

  .Shop {
    margin-bottom: 2.5em;
  }

  .expand {
    margin-top: 2.5em;
  }

  .Shop > h3 {
    margin-bottom: 0;
  }

  .ShopList {
    margin-bottom: 2vh;
    font-size: 1em;
  }

  .ShopItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }

  .ShopItem > p {
    margin: 0 0 0 0;
    color: #010057;
  }

  .ShopItem > button,
  .ShopItem > input {
    margin-top: 0.5em;
    margin-left: 0;
    font-size: 1em;
  }

  #LoadingShop {
    color: #010057;
  }

  /* Mobile ItemDetail Page */

  .ItemDetail {
    margin-bottom: 2.5em;
  }

  .ItemDetail > h1 {
    margin-bottom: 0;
  }

  .ItemDetail > h2 {
    text-align: center;
  }

  .CurrencyRates {
    display: flex;
    flex-direction: column;
  }

  .RateDate {
    margin: 0.5em 0 0.5em 0;
  }

  .RateDate > p {
    margin: 0 0 0 0;
  }

  .BuyItem > p {
    margin-bottom: 0.5em;
    text-align: center;
  }

  .BuyItem > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BuyItem > form > input {
    margin: 1em 0 0 0;
    font-size: 1em;
  }

  .BuyItem > form > button {
    margin: 1em 0 1em 0;
    font-size: 1em;
  }

  /* Mobile Checkout Page */

  .BasketItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BasketItem > p {
    margin: 0.5em 0 0 0;
  }

  .BasketItem > button {
    margin: 0.5em 0 1em 0;
    font-size: 0.75em;
  }

  .EmptyBasket > p {
    margin-top: 0.5em;
  }

  .Summary > p {
    margin: 0.5em 0 0 0;
  }

  .Summary > button {
    font-size: 0.5em;
  }

  .Footer {
    border-top: 0.2rem solid #020092;
    text-align: center;
  }

  .Footer > p {
    font-size: 0.75em;
  }
}
