html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.AppContent {
  display: flex;
  flex-direction: column;
}

/*  Nav Bar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #aaadda;
  height: 3em;
  min-height: 3em;
}

nav > a:hover {
  cursor: pointer;
}

/*  Home Page */
.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* StickyBar */

.StickyBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f596;
  height: 2.5em;
  min-height: 2.5em;
}

.StickyBar > p {
  margin: 0 1vw 0 0;
}

.StickyBar > a {
  margin-left: 1vw;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Shop Page */

.Shop {
  margin-bottom: 5vh;
}

.expand {
  margin-top: 2.5em;
}

.Shop > h2 {
  display: flex;
  justify-content: center;
}

.ShopList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2vh;
}

.ShopItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3vw 0 3vw;
}

img {
  max-width: 150px;
}

/* Checkout Page */
.Checkout {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
}

.Checkout > h2 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  justify-self: center;
}

.Basket {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: center;
}

.Summary {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  justify-content: center;
}

/* Footer */
.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaadda;
  position: absolute;
  width: 100%;
  height: 2.5em;
  bottom: 0;
  overflow: hidden;
}
